os:
    - osx

language: generic

osx_image: xcode8.3

branches:
  only:
    - master
    - dev

script:
    - mkdir build
    - cd build
    - cmake ..
    - make
    - cd ..
    - rm -rf build
    - mkdir build
    - cd build
    - cmake -DCMAKE_BUILD_TYPE=Release ..
    - make
    - cd ..
    - swift build -Xlinker -liconv
    - swift build -Xlinker -liconv --configuration=release
    - swift test -Xlinker -liconv
